# redirect 301 /old/old.htm http://www.you.com/new.htm

FileETag MTime

<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 2 days"

  ExpiresByType text/css "access plus 40 days"
  ExpiresByType text/javascript "access plus 60 days"
  ExpiresByType application/javascript "access plus 60 days"

  # expire images after a month or so
  ExpiresByType image/png A3592000
  ExpiresByType image/jpg A3592000
  ExpiresByType image/svg A3592000
  ExpiresByType image/vnd.microsoft.icon A7592000

  # the PDFs are likewise usually unchanging
  ExpiresByType application/pdf A4592000
</ifModule>

