# force extensionless 'cool URIs' like 'http://www.gwern.net/index' to be served as HTML
DefaultType text/html
DirectoryIndex index

ErrorDocument 404 "<?xml version=\"1.0\" encoding=\"UTF-8\" ?><!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"><html xmlns=\"http://www.w3.org/1999/xhtml\"><head><title>404 Not Found</title></head><body><!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"><html xmlns=\"http://www.w3.org/1999/xhtml\"><head><meta http-equiv=\"Content-Type\" content=\"text/html;charset=utf-8\" /><meta name=\"generator\" content=\"pandoc\" /><title></title></head><body><blockquote><p>'Every shrub, every tree - <br />if one has not forgotten <br />where they were planted - <br />has beneath the fallen snow <br />some vestige of its form.'</p></blockquote><p>Try the <a href=\"http://www.gwern.net\">main page</a>.</p></body></html></body></html>"

# cover source files - text/html runs all lines together; ugly & semantics-destroying
AddType text/x-markdown .page
AddType text/x-haskell .hs
AddType text/x-literate-haskell .lhs

# Add caching/expire headers for performance
FileETag MTime
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 2 days"
  ExpiresByType text/css "access plus 40 days"
  ExpiresByType text/javascript "access plus 60 days"
  ExpiresByType application/javascript "access plus 60 days"
  ## expire images after a month or so
  ExpiresByType image/png A3592000
  ExpiresByType image/jpg A3592000
  ExpiresByType image/jpeg A3592000
  ExpiresByType image/svg A3592000
  ExpiresByType image/x-icon A7592000
  ## the PDFs are likewise usually unchanging
  ExpiresByType application/pdf A4592000
</ifModule>

# redirect URLs that people commonly misspell
## Article targets for moving:
### "Copyright" ~> "Incoherence of Copyright" (?)
### "Culture is not about esthetics" ~> "Culture is not about Esthetics"
### "WP RSS bot" ~> "Wikipedia RSS Bot"
### "WP redirect generator" ~> "Wikipedia Redirect Generator"
### "Wikipedia and Dark side editing" ~> "Wikipedia and Dark Side Editing"
### "Wikipedia and Other Wikis" ~> "Wikipedia and other Wikis"
RedirectPermanent "/Culture is not about Esthetics" "http://www.gwern.net/Culture is not about esthetics"
RedirectPermanent "/In Defense of Inclusionism"  "http://www.gwern.net/In%20Defense%20Of%20Inclusionism"
RedirectPermanent "/Mnemosyne"                   "http://www.gwern.net/Spaced repetition"
RedirectPermanent "/Mnemosyne.html"              "http://www.gwern.net/Spaced repetition"
RedirectPermanent "/N-back FAQ"                   "http://www.gwern.net/DNB FAQ"
RedirectPermanent "/N-back FAQ.html"              "http://www.gwern.net/DNB FAQ"
RedirectPermanent "/N-back%20FAQ.html"            "http://www.gwern.net/DNB%20FAQ"
RedirectPermanent "/about.html"                  "http://www.gwern.net/About"
RedirectPermanent "/haskell summer of code.html" "http://www.gwern.net/Haskell Summer of Code"
RedirectPermanent "/haskell/Archiving%20GitHub.html" "http://www.gwern.net/haskell/Archiving GitHub"
RedirectPermanent "/melatonin"                   "http://www.gwern.net/Melatonin"
RedirectPermanent "/melatonin.html"              "http://www.gwern.net/Melatonin"
RedirectPermanent "/mnemosyne"                   "http://www.gwern.net/Spaced repetition"
RedirectPermanent "/mnemosyne.html"              "http://www.gwern.net/Spaced repetition"
RedirectPermanent "/modafinil"                   "http://www.gwern.net/Modafinil"
RedirectPermanent "/modafinil.html"              "http://www.gwern.net/Modafinil"
RedirectPermanent "/n-back faq"                  "http://www.gwern.net/DNB FAQ"
RedirectPermanent "/n-back faq.html"             "http://www.gwern.net/DNB FAQ"
RedirectPermanent "/nootropics.html"             "http://www.gwern.net/Nootropics"
RedirectPermanent "/spaced repetition"           "http://www.gwern.net/Spaced repetition"
RedirectPermanent "/melatonin advocacy"          "http://www.gwern.net/Melatonin"
RedirectPermanent "/The Value of One Bit"        "http://www.gwern.net/Zen and the Art of Bicycle Maintenance"
