# force extensionless 'cool URIs' like 'http://www.gwern.net/index' to be served as HTML
DefaultType text/html
DirectoryIndex index

# cover source files - text/html runs all lines together; ugly & semantics-destroying
AddType text/x-markdown .page
AddType text/x-haskell .hs
AddType text/x-literate-haskell .lhs

# Add caching/expire headers for performance
FileETag MTime
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 2 days"
  ExpiresByType text/css "access plus 40 days"
  ExpiresByType text/javascript "access plus 60 days"
  ExpiresByType application/javascript "access plus 60 days"
  ## expire images after a month or so
  ExpiresByType image/png A3592000
  ExpiresByType image/jpg A3592000
  ExpiresByType image/svg A3592000
  ExpiresByType image/vnd.microsoft.icon A7592000
  ## the PDFs are likewise usually unchanging
  ExpiresByType application/pdf A4592000
</ifModule>

# redirect URLs that people commonly misspell
## Article targets for moving:
### "Copyright" ~> "Incoherence of Copyright" (?)
### "Culture is not about esthetics" ~> "Culture is not about Esthetics"
### "N-back FAQ" ~> "DNB FAQ"
### "WP RSS bot" ~> "Wikipedia RSS Bot"
### "WP redirect generator" ~> "Wikipedia Redirect Generator"
### "Wikipedia and Dark side editing" ~> "Wikipedia and Dark Side Editing"
### "Wikipedia and Other Wikis" ~> "Wikipedia and other Wikis"
RedirectPermanent "/about.html"                  "http://www.gwern.net/About"
RedirectPermanent "/haskell summer of code.html" "http://www.gwern.net/Haskell Summer of Code"
RedirectPermanent "/haskell/Archiving%20GitHub.html" "http://www.gwern.net/haskell/Archiving GitHub"
RedirectPermanent "/melatonin"                   "http://www.gwern.net/Melatonin"
RedirectPermanent "/melatonin.html"              "http://www.gwern.net/Melatonin"
RedirectPermanent "/mnemosyne.html"              "http://www.gwern.net/Mnemosyne"
RedirectPermanent "/modafinil"                   "http://www.gwern.net/Modafinil"
RedirectPermanent "/modafinil.html"              "http://www.gwern.net/Modafinil"
RedirectPermanent "/n-back faq.html"             "http://www.gwern.net/N-back FAQ"
RedirectPermanent "/nootropics.html"             "http://www.gwern.net/Nootropics"

# Add static gzip'd support, again, for performance
## http://www.hunlock.com/blogs/Compressed_HTML_makes_your_pages_zippy
## https://members.nearlyfreespeech.net/forums/viewtopic.php?p=21798#21798
<ifModule mod_rewrite.c>
    Options +MultiViews
    AddEncoding x-gzip .gz
    RewriteEngine on
    RewriteOptions Inherit
    RewriteCond %{HTTP:Accept-Encoding} .*gzip.*
    RewriteCond %{REQUEST_FILENAME}.gz -s
    RewriteRule ^(.+) $1.gz

    RewriteBase /
    # http://httpd.apache.org/docs/1.3/misc/rewriteguide.html
    #   parse out basename, but remember the fact
    RewriteRule   ^(.*)\.html(\#.*)?$              $1      [C,E=WasHTML:yes]
    #   rewrite 'document.html' to 'document' if exists
    RewriteCond   %{REQUEST_FILENAME} -f
    RewriteRule   ^(.*)$ $1$2                [R=301,L]
    #   else reverse the previous basename cutout
    RewriteCond   %{ENV:WasHTML}            ^yes$
    RewriteRule   ^(.*)$ $1.html
</ifModule>

