<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="BOhOQI1uMfsqu_DopVApovk1mJD5ZBLfan0s9go3phk" />  <!-- Google Web Master Tools -->
    <meta name="description" content="$description$" />
    <meta http-equiv="last-modified" content="$modified$" />

    <title>$title$</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />

    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <!-- "The clouds above join and separate
         The breeze in the courtyard leaves and returns.
         Life is like that, so why not relax?
         Who can stop us from celebrating?"
             Lu Yu -->
  </head>
  <body>
    <div id="main">
      <div id="header">
        <img src="/images/logo.png" width="32" height="36" alt="Logo: a Gothic blackletter capital G" />
        <h1>$title$</h1>
      </div>
      <!-- Sidebar. -->
      <div id="sidebar">
        $sidebar$
        <hr/>
        <div id="description"><h4>Abstract:</h4> <em>$description$</em></div>
        <hr/>
        <div id="last modified">$modified$</div>
      </div>

      <div id="content">
        $body$
      </div>

      <!-- licensing; see also /About -->
      <div id="footer">
        <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/" style="text-decoration:none;"></a>
        <a rel="donations" href="http://en.wikipedia.org/wiki/Bitcoin">฿</a> donations welcome: <tt>1NsRiaVwdHNJg3av4noWsZbDwVSujMdSir</tt>
      </div>
    </div>

    <!-- Implement MathML & floating footnotes; see http://ignorethecode.net/blog/2010/04/20/footnotes/ -->
    <script type="text/javascript">
      function async(loaded) {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = loaded;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s); }

      async("/static/js/MathMLinHTML.js")
      async("/static/js/jquery-1.5.2.min.js")
      async("/static/js/footnotes.js")</script>

    <script id="googleAnalytics" type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18912926-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();</script>

     <div id="disqus_thread"></div>
     <script type="text/javascript">
       if (document.title != 'index') { <!-- avoid Disqus comments on front page -->
        (function() {
        var SHORTNAME = 'example'; // Your website's shortname on Disqus
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://disqus.com/forums/gwern/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        var disqus_shortname = 'gwern';
        (function () {
         var s = document.createElement('script'); s.async = true;
         s.src = 'http://disqus.com/forums/gwern/count.js';
         (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
       }());
       }
       else
       {
       var head  = document.getElementsByTagName('head')[0];
       var link  = document.createElement('link');
       link.id   = 'parallelColumns';
       link.rel  = 'stylesheet';
       link.type = 'text/css';
       link.href = './static/css/index.css';
       link.media = 'all';
       head.appendChild(link); }</script>

     <script id="googleReaderPrerequisite" type="text/javascript" src="https://www.google.com/reader/ui/publisher-en.js"></script>
     <script id="googleReader" type="text/javascript" src="https://www.google.com/reader/public/javascript/user/06575532310267031409/state/com.google/broadcast?n=10&callback=GRC_p(%7Bc%3A%22gray%22%2Ct%3A%22What%20I%20am%20reading%22%2Cs%3A%22false%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>

     <noscript><p>Enable JavaScript for Disqus comments</p></noscript>
  </body>
</html>
