<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="BOhOQI1uMfsqu_DopVApovk1mJD5ZBLfan0s9go3phk" />  <!-- Google Web Master Tools -->
    <title>$title</title>

    <!-- Stylesheets. -->
    <link rel="stylesheet" type="text/css" href="$root/css/default.css" />
    <link rel="stylesheet" type="text/css" href="$root/css/syntax.css" />

    <!-- Metadata. -->
    <meta name="keywords" content="gwern,blog,philosophy,haskell,static,hakyll"/>
    <meta name="description" content="Joining Clouds - a personal site"/>

    <link href="$root/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />

    <link rel="shortcut icon" type="image/x-icon" href="$root/images/favicon.ico" />

    <!--
       "The clouds above join and separate
        The breeze in the courtyard leaves and returns.
        Life is like that, so why not relax?
        Who can stop us from celebrating?"
       Lu Yu
      -->
  </head>
  <body>
    <div id="main">
      <div id="header">
        <a href="$root"> <img src="$root/images/logo.png" alt="A Gothic letter G" /></a>
        <h1>Joining Clouds</h1>
      </div>
      <!-- Sidebar. -->
      <div id="sidebar">
        $sidebar
      </div>

      <div id="content">
        $body
      </div>
    </div>

    <!-- licensing; see also $root/About.html -->
    <div id="footer"><a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/" style="text-decoration:none;"></a></div>

    <script id="forceMathmlRendering" type="text/javascript">
      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = 'http://www.gwern.net/static/js/MathMLinHTML.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
      </script>

    <script id="googleAnalytics" type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18912926-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

     <div id="disqus_thread"></div>
     <script type="text/javascript">
       if (document.title != "index") { <!-- avoid Disqus comments on front page -->
        (function() {
        var SHORTNAME = 'example'; // Your website's shortname on Disqus
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://disqus.com/forums/gwern/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        var disqus_shortname = 'gwern';
        (function () {
         var s = document.createElement('script'); s.async = true;
         s.src = 'http://disqus.com/forums/gwern/count.js';
         (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
       }());
       }
       else
       {
       var head  = document.getElementsByTagName('head')[0];
       var link  = document.createElement('link');
       link.id   = 'parallelColumns';
       link.rel  = 'stylesheet';
       link.type = 'text/css';
       link.href = '$root/css/index.css';
       link.media = 'all';
       head.appendChild(link);
       }
     </script>
     <noscript>Enable JavaScript for Disqus comments</noscript>
  </body>
</html>
